<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">

	<description>使用JDK ScheduledExecutorService的定时任务配置</description>
	
	<!-- 定期执行的业务类 -->
	<bean id="jdkExecutorJob" class="org.springside.examples.showcase.demos.schedule.JdkTimerJob" lazy-init="false">
		<!-- 每次执行间隔180秒 -->
		<property name="period" value="180" />
		<!-- 首次执行延期1秒 -->
		<property name="initialDelay" value="1" />
		<!-- shutdown时等待任务完成, 最多等待20秒 -->
		<property name="shutdownTimeout" value="20" />
	</bean>
</beans>