<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-lazy-init="true">

	<description>使用Spring的 Scheduled的定时任务配置</description>
	
	<!-- 根据Cron表达式执行的业务类  -->
	<bean id="springCronJob" class="org.springside.examples.showcase.schedule.SpringCronJob" lazy-init="false">
		<!-- cron表达式 -->
		<property name="cronExpression" value="* 15 9-17 * * MON-FRI"/>
		<!-- shutdown时等待任务完成, 最多等待20秒 -->
		<property name="shutdownTimeout" value="20" />
	</bean>
</beans>