<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd"
	default-lazy-init="true">

	<description>使用Spring的 Scheduled的定时任务配置</description>
	
	<!-- namespace 方式 的便捷版 -->
	<task:scheduler id="springScheduler" pool-size="2"/>
	
	<task:scheduled-tasks scheduler="springScheduler">
		<!-- timer -->
	    <task:scheduled ref="userCountScanner" method="executeBySpringTimerByXml" fixed-rate="180000"/>
	    <!-- cron -->
	    <task:scheduled ref="userCountScanner" method="executeBySpringCronByXml" cron="0 15 9-17 * * MON-FRI"/>
	</task:scheduled-tasks>
	
	<!-- coding 方式的加強版 -->
	<bean id="springCronJob" class="org.springside.examples.showcase.demos.schedule.SpringCronJob" lazy-init="false">
		<property name="cronExpression" value="0 15 9-17 * * MON-FRI"/>
		<property name="shutdownTimeout" value="20" />
	</bean>
</beans>