<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-lazy-init="true">
	<description>Restful Service Bean的配置文件 </description>

	<bean class="org.springside.examples.showcase.webservice.rs.server.UserResourceService" />
	
	<bean class="org.springside.examples.showcase.webservice.rs.server.ShiroExceptionMapper" scope="singleton"/>
</beans>