# Eclipse project files
.classpath
.project
.settings/


# Intellij project files
*.iml
.idea/

# Others
target/
logs/
/examples/showcase/bin/yuicompressor-2.4.*.jar
/support/jmeter/*.jtl
/support/jmeter/*.log
/support/local-script/
