<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
  	<!-- Output pattern : date [thread] priority [category] - message -->
    <encoder>	
      <pattern>%d [%t] %-5p [%c] - %m%n</pattern>
    </encoder>
  </appender>
  
  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>logs/quickstart.log</File>
    <encoder>
      <pattern>%d [%t] %-5p [%c] - %m%n</pattern>
    </encoder>
  </appender>
  
  <!-- project default level -->
  <logger name="org.springside.examples.quickstart" level="INFO"/>
  
  <!--log4jdbc--> 
  <!-- <logger name="jdbc.sqltiming" level="INFO"/>-->
   
  <root level="WARN">
    <appender-ref ref="Console"/>
    <appender-ref ref="RollingFile"/>
  </root>
</configuration>