<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	  					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<description>JMX服务端配置</description>

	<!-- 配置MBean自动注册 -->
	<context:mbean-export default-domain="showcase" registration="replaceExisting" />
	
	<!-- 应用使用情况統計的MBean -->
	<bean class="org.springside.examples.showcase.demos.jmx.ApplicationStatistics"/>

	<!-- (可选)配置用于JMX远程连接的RMI注册服务器,可在命令行用-D定义实现，见下。 -->
	<bean id="rmiRegistry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean" lazy-init="false">
		<property name="port" value="${jmx.rmi_port}" />
	</bean>

	<!-- (可选)配置JMX远程连接,可在命令行用-D定义实现, 如-Dcom.sun.management.jmxremote.port=3999 -->
	<bean id="serverConnector" class="org.springframework.jmx.support.ConnectorServerFactoryBean" lazy-init="false"
		depends-on="rmiRegistry">
		<property name="serviceUrl" value="service:jmx:rmi:///jndi/rmi://${server.addr}:${jmx.rmi_port}/jmxrmi" />
	</bean>
</beans>