<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<description>JavaSimon监控配置</description>

	<bean id="monitoringInterceptor" class="org.javasimon.spring.MonitoringInterceptor" />

	<bean id="monitoringAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="monitoringInterceptor" />
		<property name="pointcut">
			<bean class="org.javasimon.spring.MonitoredMeasuringPointcut" />
		</property>
	</bean>
</beans>