/* general */
table {
    border: 1px solid #CCCCCC;
}

label.field {
	width:98px;
	display:inline-block;
}

/* header */
#title div.title {
	font-size:2em;
	color:#111;
	letter-spacing: .1em;
	
}

#title span.subtitle {
	font-size:1.5em;
	color: #999;
	letter-spacing: .1em;
	margin-bottom:0.75em;

}

#menu ul {
	margin:0 0 0 0;
	padding: 0.5em;
	font-weight: bold;
	background: #BACE87;
	border-top: 2px solid #658A16;
	border-bottom: 2px solid #658A16;
}

#menu li {display: inline;}

#menu ul a {
	padding: 0.5em;
	text-decoration: none;
	color: #fff;
}

#menu a:hover {background: #658A16;}

/* footer */
#footer {
	margin-top: 15px;
	padding: 15px 0px 0px 0px;
	font-size: 95%;
	text-align: center;
	border-top: 2px solid #658A16;
}

#footer a {color: #999;}