/* general */
table {
    border: 1px solid #CCCCCC;
}

label.field {
	width:98px;
	display:inline-block;
}

/* header */
#header {
	border-bottom: 2px solid #658A16;
}

#header div.title {
	font-size:2em;
	letter-spacing: .1em;
	color: #658A16;
}

#header span.subtitle {
	font-size:1.5em;
	letter-spacing: .1em;
	color: #BACE87;
}

/* leftbar */
#leftbar a {
	display: block;
	padding: 0.3em;
	padding-right: 0;
	border-bottom: 1px dashed #eeeeee;
	font-weight: bold;
	text-decoration: none;
}

#leftbar a:hover {
	color: #2a65ad;
	background-color: #eeeeee;
}