<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.springside.examples.showcase.repository.mybatis.TeamMybatisDao">
	<resultMap id="teamDetailMap" type="Team">
		<id property="id" column="team_id" />
		<result property="name" column="team_name" />
		<association property="master" column="master_id" javaType="User">
			<id property="id" column="master_id" />
			<result property="name" column="master_name" />
			<result property="email" column="master_email" />
		</association>
		<collection property="userList" javaType="User">
			<id property="id" column="user_id" />
			<result property="name" column="user_name" />
			<result property="email" column="user_email" />
		</collection>
	</resultMap>

	<!-- 获取部门详细信息, 输出用resultMap关联嵌套对象 -->
	<select id="getWithDetail" parameterType="long" resultMap="teamDetailMap">
		select t.id as team_id,
		t.name as team_name,
		m.id as master_id,
		m.name as master_name,
		m.email as master_email,
		u.id as user_id,
		u.name as user_name,
		u.email as user_email
		from ss_team t, ss_user m, ss_user u
		where t.master_id=m.id and t.id=u.team_id
		and t.id=#{id}
	</select>
</mapper> 
