<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Account">
	<select id="getUser" parameterType="int" resultType="User">
		select id, name, login_name as loginName, email 
		from ss_user
		where id=#{id}
	</select>	
</mapper> 
